{{!-- BEGIN-SNIPPET with-defaults-hbs
// Default
<MyTable
  @title="Some title"
  @rows={{this.rows}}
/>
END-SNIPPET --}}

{{!-- BEGIN-SNIPPET with-options-hbs

//Optional block
<MyTable>

  <MyTable::Header @columns={{this.columns}} />

  <MyTable::Body>
    {{#each @rows as |row|}}
      {{#each row.columns}}

        {{#if row.isCustom}}
          <MyTable::Cell>
            ...
          </MyTable::Cell>
        {{else}}
          <MyTable::Cell />
        {{/if}}

      {{/each}}
    {{/each}}
  </MyTable::Body>

  <MyTable::Footer />

</MyTable>
END-SNIPPET --}}

{{!-- BEGIN-SNIPPET inverse-invocation-hbs
  {{#if (has-block)}}
    {{yield this.someComponentProperty}}
  {{else}}
    <MyTable::Header @columns={{@columns}} />
    <MyTable::Body @rows={{@rows}}>
    <MyTable::Footer />
  {{/if}}
END-SNIPPET --}}
<h2>Block Component with optional block</h2>

<article>
  <section>
    <h3>Use components default values</h3>
    <Highlight @name="with-defaults-hbs" />
  </section>

  <section>
    <h3>With an optional block</h3>
    <p>
      Use this if the defaults don't meet your needs
    </p>
    <Highlight @name="with-options-hbs" />
  </section>

  <h3>How to use it</h3>
  <p>
    If there is no block provided use sane defaults,
  </p>
  <section>
    <Highlight @name="inverse-invocation-hbs" />
  </section>

  <h3><Icon @type="check" /> Good</h3>

  <p>
    <ul>
      <li>Good readability</li>
      <li>For medium complex/sized components</li>
      <li>You have a default design, but you never know if there must be a customisation for this one particular case</li>
      <li>
        For example when the PM says <i>"Can I have a tooltip somewhere deeply nested in that component"</i>
      </li>
    </ul>
  </p>
</article>