{{!-- BEGIN-SNIPPET named-blocks-invocation-hbs
<MyTable
  @columns={{this.columns}}
  @hasErrors={{this.hasErrors}}
  @isLoading={{this.isLoading}}
>
  <:header as |columns|>
    Do something with columns
  </:header>

  <:rows as |onRowClick|>
    {{#each @rows as |row|}}
      <MyTable::Row @row={{row}} @onClick={{onRowClick}} />
    {{/each}}
  </:rows>

  <:footer>I am a footer</:footer>

  <:loading>Loading</:loading>
  <:error>I don't know what happend</:error>
</MyTable>
END-SNIPPET --}}

{{!-- BEGIN-SNIPPET named-blocks-hbs
  <Table>
    <thead>{{yield this.computedColumns to="header"}}</thead>
    <tbody>
      {{#if @isLoading}}
        {{yield to="loading"}}
      {{else}}
        {{yield to="rows"}}
      {{/if}}
    </tbody>
    <tfoot>{{yield to="footer"}}</tfoot>
  </Table>
  <div class="error-field">
    {{#if @hasErrors}}
      {{yield to="error"}}
    {{/if}}
  </div>
END-SNIPPET --}}

<h2>Named blocks</h2>

<article>
  <section>
    <h3>Yield to named blocks</h3>
    <p>
      Reveal parts of the component that an be customized
    </p>
    <Highlight @name="named-blocks-invocation-hbs" />
  </section>

  <section>
    <h3>How</h3>
    <p>
      <ul>
        <li>You can yield conditionally</li>
        <li>You can yield properties, actions or even components</li>
      </ul>
    </p>
    <Highlight @name="named-blocks-hbs" />
  </section>

  <section>
    <h3>When to use it</h3>
    <p>
      <ul>
        <li>On complex/large UI components</li>
        <li>When you want to improve readability</li>
      </ul>
    </p>
  </section>

  <section>
    <h3>Pitfalls</h3>
    <p>
      <ul>
        <li>Tends to have many arguments to evaluate what to block to yield</li>
      </ul>
    </p>
  </section>
</article>