{{!-- BEGIN-SNIPPET simple-good-hbs
<MyTable
  @columns={{this.columns}}
  @data={{this.rows}}
/>
END-SNIPPET --}}

{{!-- BEGIN-SNIPPET simple-bad-hbs
<MyTable
  @title="Some title"
  @columns={{this.columns}}
  @data={{this.rows}}
  @configuration={{this.configuration}}
  @onSort={{@onSort}}
  @sorts={{or @sorts (array)}}
  @totalRowCount={{@totalRowCount}}
  @bulkSelection={{@bulkSelection}}
  @pagination={{@pagination}}
  @onRowSelectionChange={{œonRowSelectionChange}}
  @rowSelection={{@selectedRow}}
/>
END-SNIPPET --}}

<h2>Simple Component Invocation</h2>

<article>
  <section>
    <h3><Icon @type="check" /> Good</h3>
    <p>
      <ul>
        <li>Only a few arguments</li>
        <li>You want to limit or hide internals (design system, etc.)</li>
        <li>The component itself is small</li>
      </ul>
    </p>
    <Highlight @name="simple-good-hbs" @file="app/components/my-table.js" />
  </section>

  <section>
    <h3><Icon @type="cross" /> Bad</h3>
    <p>
      <ul>
        <li>Many arguments</li>
        <li>Mixed arguments from different scopes</li>
        <li>Configuration objects nesting arguments</li>
      </ul>
    </p>
    <Highlight @name="simple-bad-hbs" />
  </section>


</article>